.DS_Store
.venv/
__pycache__/
*.pyc

backend/images/*
!backend/images/.gitkeep
backend/processed/*
!backend/processed/.gitkeep

frontend/node_modules/
frontend/dist/
frontend/.vite/

temp/
test_da3_install/
